{% extends 'layout.html' %}

{% block title %}
    documents
{% endblock %}

{% block content %}
    <h1>your documents</h1>
    <section>
        {% for document in documents %}
            <article class="document">
                <h3>{{ document.title }}</h3>
                <p>{{ document.category }}</p>
                <p>{{ document.date}}</p>
            </article>
        {% endfor %}
    </section>
    <p class="end_par">you can go back by clicking this <a href="/">link</a></p>
{% endblock %}