{% extends 'layout.html' %}

{% block title %}
    Doctus
{% endblock %}

{% block content %}
    <h1>Welcome to Doctus</h1>

        <p>
            <strong>Doctus</strong> is a simple and secure Django-based application
            for managing your personal documents.
        </p>

        <p>
            Create, store, and organize your documents with ease —
            all in one place, accessible only to you.
        </p>

        <p>
            Use the navigation menu to explore the app or jump directly to:
        </p>
        <br />
        <p>
            👉 Learn more <a href="/about">about the application</a><br>
            👉 View and manage <a href="/documents">your documents</a>
        </p>
{% endblock %}
