<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Djagno documents app
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" >
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav>
        <a href="/" aria-label="home" title="Home">🏠</a>
        <a href="/about" aria-label="about" title="about">❓</a>
        
        {% if user.is_authenticated %}

        <a href="{% url 'documents:list' %}" aria-label="documents" title="documents">📝</a>
        <a href="{% url 'documents:new-document' %}" aria-label="new-documents" title="new-document">➕</a>
        <form action="{% url 'users:logout' %}" method="POST">
            {% csrf_token %}
            <button class="logout" title="logout">logout</button>
        </form>

        {% else %}

        <a href="{% url 'users:login' %}" aria-label="login" title="login">👉</a>
        <a href="{% url 'users:register' %}" aria-label="register" title="register">🕵️‍♀️</a>

        {% endif %}

    </nav>

    <main>
        {% block content %}
            Here is the content
        {% endblock %}
    </main>
</body>
</html>