* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

body {
    background-color: black;
    font-size: 15px;
    color: white;
}

nav {
    background-color: purple;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

nav .name {
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: black;
    transition: 0.5s;
}

nav a {
    color: white;
    font-size: 15px;
}

nav .links {
    display: flex;
    gap: 15px;
}

main {
    padding: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: purple;
}

section {
    background-color: #311630;
    padding: 20px 10px 10px 10px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
}

.documents_list {
    background-color: transparent;
    padding: 20px 10px 10px 10px;
    border-radius: 10px;
    width: auto;
    margin: 0 auto;
}


.document {
    padding: 20px;
    margin-bottom: 15px;
    text-align: left;
    background-color: #311630;
    border-radius: 15px;
}

.document:hover {
    transition: 0.5s;
    scale: calc(1.05);
    border: 2px solid purple;
}

.end_par {
    margin-top: 10px;
}

.form {
    text-align: left;
    background-color: #311630;
    padding: 20px 10px 10px 10px;
    border-radius: 10px;
    max-width: 700px;
    margin: 0 auto;
    font-size: 1rem;
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.form div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form input {
    padding: 5px;
    max-width: 300px;
}

.helptext {
    font-size: 1rem;
    margin-left: 1rem;
}

.helptext ul {
    list-style-type: none;
}

.errorlist {
    color: #F00;
    margin-left: 2rem;
}

.errorlist li::marker {
    content: '🚨 ';
}

.submit {
    width: 100px;
    background: purple;
    border: none;
    margin-top: 20px;
    padding: 10px 15px;
    font-weight: bold;
}

.logout {
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 15px;
    margin-right: 10px;
}

.logout:hover {
    color: white;
    transition: 0.5s;
}

.doc_url {
    margin-top: 20px;
}